<p>
  topic works!
</p>
<form [formGroup]="myForm" novalidate (ngSubmit)="submit()">
  <div class="form-group">
    <label>Заголовок</label>
    <input class="form-control" name="name" formControlName="userName" />

    <div class="alert alert-danger"
         *ngIf="myForm.controls['userName'].invalid && myForm.controls['userName'].touched">
      Не указан заголовок
    </div>
  </div>
  <div class="form-group">
    <label>Заметка</label>
    <input class="form-control" name="text" formControlName="text" />
  </div>
  <div class="form-group">
    <button class="btn btn-default" [disabled]="myForm.invalid">
      Отправить
    </button>
  </div>
</form>
